*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2rem;
	min-height: 100%;
	color: #2d3436;
}

html {
	height: 100%;
}

.grid_container{
	display: grid;
	gap: 10px;
	grid-template-areas: 
	"header"
	"info"
	"main"
	"sidebar"
	"footer";

	grid-template:
	"header header header" 110px
	"info sidebar sidebar" auto
	"main sidebar sidebar" auto
	"footer footer footer" 50px /
		600px    auto   200px;
}

.header {
	grid-area: header;
}
.header img {
	width: 100px;
	height: 100px;
	float: left;
	display: inherit;
	margin: 8px;
}

.header h1 {
	float: right;
	margin: 35px;
	margin-right: 20px;
	font-size: 2rem;
	color: #c94231;
}

.main {
	grid-area: main;
}

.main img {
	padding: 5px;
	padding-right: 10px;
	margin-left: 10px;
	padding-bottom: 0px;
	border-radius: 10px;
	width: 100%;
	height: 100%;
	transition: all 0s ease;
}

.main img:hover {
	opacity: 0.5;
} 

.info {
	grid-area: info;
}

.info h1 {
	color: white;
	text-align: center;
	font-size: 2rem;
}

.info li {
	margin-left: 140px;
	color: white;
	text-align: left;
	font-size: 1rem;
}

.info {
	padding: 5px;
	margin-left: 15px;
	border-radius: 5px;
	background-color: #2d3436;
	padding-top: 20px;
	padding-bottom: 10px;
}


.sidebar {
	color: white;
	grid-area: sidebar;
	background-color: #c94231;
	border-radius: 5px;
	text-align: center;
	font-size: 1rem;
	margin-right: 10px;
	padding: 10px;
	padding-bottom: 0px;
}

.sidebar h1 {
	font-size: 5rem;
}

.casilla  {
	width: 500px;
	height: 30px;
	border-radius: 5px;
}

.area {
	width: 500px;
	height: 100px;
	border-radius: 5px;
}

.botonenviar {
	height: 40px;
	width: 100px;
	transition: all 0.5s ease;
	background-color: white;
	border-radius: 100px;
	font-size: 1rem;
	font-weight: bold;
}

.botonenviar:hover {
	color: white;
	background: #2d3436;
}

.footer {
	grid-area: footer;
	border-top: 1px solid #c94231;
}

footer a { 
	display: inline-block; 
	color: #2d3436;
	padding: 10px;
	text-decoration: none;
	font-size: 1rem;

}

footer a:hover {
	color: #c94231;
}

.redes {
	padding: 1px;
	color: #2d3436;
	float: right;
}

.redes i {
	font-size: 30px;
}

.redes p {
	display: inline-block; 
	color: #2d3436;
	margin: auto;
	font-size: 1rem;
}


@media (max-width: 1270px) {
	.grid_container {

		grid-template:
		"header header header" 110px
		"info sidebar sidebar" auto
		"main sidebar sidebar" auto
		"footer footer footer" 50px /
		600px    auto   200px;
	}

.main img {
	height: 100%;
}

}


@media (max-width: 970px) {
	.grid_container {

		grid-template:
		"header header header" 110px
		"info sidebar sidebar" auto
		"main sidebar sidebar" auto
		"footer footer footer" 50px /
		500px 330px 100px;
	}


.header h1 {
	margin-right: 10px;
}

.casilla {
	width: 400px;
}

.sidebar p {
	font-size: 0.80rem;
}

.area {
	width: 400px;
}


.footer a { 
	font-size: 0.75rem;

}

.main img {
	width: 100%;
	height: 100%;
}

.info {
	padding-top: 50px;
	padding-bottom: 0px;

}


@media (max-width: 630px) {
	.grid_container {
		grid-template:
		"header " 110px
		"info" auto
		"sidebar" auto
		"main" auto
		"footer " 50px /
		610px  ;
	}

.header h1 {
	text-align: center;
	margin-top: 50px;
	margin-right: 20px;
	font-size: 1.5rem;
}

.footer {
	text-align: center;
	font-size: 0.75rem;
}

.footer a {
	font-size: 0.75rem;
}

.redes { 
	text-align: none;
	margin-right: 90px;
}

.redes p {
	font-size: 0.75rem;
}

.sidebar {
	font-size: 0.75rem;
	margin-right: 10px;
	margin-left: 10px;
	padding: 10px;
}



.info {
	padding: 0px;
	margin-left: 0px;
	margin: 5px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}


.main img {
	width: 97%;
	height: 100%;
	padding-right: 0px;
	margin-top: 0px;
}

}


@media (max-width: 430px) {
	.grid_container {

		grid-template:
		"header " 120px
		"info" auto
		"sidebar" auto
		"main" auto
		"footer " 60px /
		405px;
	}

.header img {
	margin-left: 150px;
}


.header h1 {
	margin-left: 50px;
	margin-right: 100px;
	font-size: 0.800rem;
	margin-top: 0px;

}

.casilla {
	width: 350px;
}

.area {
	width: 350px;
}

.sidebar {
	margin-right: 4px;
	margin-left: 10px;
	padding: 10px;
	}

.sidebar h1 {
	font-size: 4rem;
}

.info {
	margin-top: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 5px;
}

.info li {
	font-size: 0.8rem;
	margin-left: 100px;
}

.info h1 {
	font-size: 1.5rem;
}

.main img {
	width: 100%;
	margin: auto;
	padding: 5px;
}

.redes { 
	text-align: none;
	margin-right: 0px;
}

.redes p {
	font-size: 0.70rem;
}

}